* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}
:root {
    --primary-color: orange
}
body {

    font-family: 'Lato', sans-serif;
    color: rgb(12, 12, 12);
    line-height: 1.6;

}

ul {
    list-style-type: none;


}

a {
    text-decoration: none;
    color: rgb(12, 12, 12);

}

h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
}
h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
h3 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
img {
    width: 100%;
}

/*navbar*/

.navbar {
    background-color: var(--primary-color);
    color: rgb(12, 12, 12);
    
}

.navbar .flex {
    justify-content: space-between;
}
.navbar ul {
    display: flex;
    
}
.navbar a {
    padding: 10px;
    margin: 0 5px;
    }
.navbar a:hover {
    border-bottom: 2px rgb(12, 12, 12) solid;
}

/*Showcase*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: rgb(12, 12, 12);
    position: relative;
}
.showcase h1 {
    font-size: 40px;
}
.showcase p {
    margin: 20px 0;
}
.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 40px;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: rgb(12, 12, 12);
    border: none;
    border-radius: 5px;
}
.btn-outline {
    background-color: transparent;
    border: 1px rgb(12, 12, 12) solid;
}
.btn:hover {
    transform: scale(1.2);
}
.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}



/*Utilities*/

.container  {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.flex {
    display: flex;
    justify-content: center;
    height: 100%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 1.5);
    padding: 20px;
    margin: 10px;

}

.showcase-form .form-control {
    margin: 16px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='number'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.showcase-form input:focus {
    outline: none;
}
    
/*Contact Details*/
.contact {
    padding-top: 100px;
}
.text-center {
    text-align: left;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgb(12, 12, 12);
    line-height: 1.6;
}

.grid-3 {
    padding-top: 70px;
    padding-bottom: 100px;
    font-family: 'Lato', sans-serif;
    color: rgb(12, 12, 12);
    line-height: 1.6;
}

/*footer*/
footer {
    background: orange;
    height: auto;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    color: rgb(12, 12, 12);
    line-height: 1.6;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    padding-top: 100px;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.socials li {

    margin: 0 10px;
}
.socials a{
    text-decoration: none;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
    padding-top: 5px;
    margin: 15px;
}
.socials a:hover i{
    color: aqua;
    transform: scale(1.5);

}
.footer-bottom {
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}




